.form-container input{
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    width: 400px;
}  

.form-container{
    border: 1px solid #ddd;
    width: 500px;
    margin: auto;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px #ddd;
}
.form-bottom hr{
    width: 186px;
    display: inline-block;
}
.submit{
    background-color: #FF6E40;
    color: #fff;
    padding: 5px 0;
}
.login-small{
    color: #FF6E40;
}
.password-warning{
    color: red;
    margin-top: -10px;
}
.form-bottom button{
    background-color: #fff;
    border: 1px solid #ddd;
    width: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.facebook-btn{
    margin-bottom: 20px;
}
.google-btn{
    color: 	#db3236;
}