.card-container{
    text-align: center;
    border: 3px solid orangered;
    margin-left: 10%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.card{
    padding: 30px;
}
.card img{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}